<div class="d-flex flex-column justify-content-center align-items-center" style="margin-top:10vh;">
  <div class="dropdown d-flex" stlye="width:20vw">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-bottom:5vh;width:30vw">
      類別
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/">全部</a></li>
      <li><a class="dropdown-item" href="/category/home">家居物業</a></li>
      <li><a class="dropdown-item" href="/category/traffic">交通出行</a></li>
      <li><a class="dropdown-item" href="/category/entertainment">休閒娛樂</a></li>
      <li><a class="dropdown-item" href="/category/food">餐飲食品</a></li>
      <li><a class="dropdown-item" href="/category/others">其他</a></li>
    </ul>
  </div>
  {{#if categoryName}}
  <div class="totalAmount d-flex justify-content-center" style="margin-bottom:5vh;width:30vw">
    <h5>{{categoryName}}</h5>
  </div>
  {{/if}}
  <div class="totalAmount d-inline-flex justify-content-between" style="margin-bottom:5vh;width:30vw">
    <h4>總金額</h4>
    <h1 style="color:orange">{{totalAmount}}</h1>
  </div>
  
  {{#each expenses}}
  <div class="d-flex flex-column justify-content-center align-items-center mb-2">
    <div class="d-inline-flex justify-content-between">
      <div class="d-inline-flex justify-content-around align-items-center" style=" width:30vw; background-color:rgb(211 216 225 / 25%)"> 
        <div class="d-inline-flex align-items-center">
          <i class="{{{this.icon}}}" style="margin-right:5px;font-size:200%"></i>
          <div class="d-flex flex-column">
            <div style="margin:0; font-size:20px;">{{ this.name }}</div>
            <p style="margin:0">{{this.date}}</p>
          </div>
        </div>
        <p class="d-flex flex-column justify-content-center align-items-center" style="margin-bottom:0px" >{{this.amount}}</p>
      </div>
      <div class="d-inline-flex justify-content-center align-items-center" style="margin-left:20px">
        <a href="/expenses/edit/{{this._id}}" style="margin-right:10px;text-decoration:none;font-size:20px">修改</a>
        <form action="/expenses/{{ this._id }}?_method=DELETE" method="POST" style="margin-left:20px">
          <button class="btn" type="submit" style="background-color:rgb(173, 213, 173); font-size:20px">刪除</button>
        </form>
      </div>
    </div>
  </div>
{{/each}}

  <div class=" border rounded" style="margin-top:5px; padding:5px; background-color:antiquewhite">
    <a href="/expenses/new" style="text-decoration:none;font-size:24px;color:grey"> 新增支出</a>
  </div>
</div>